* {
    font-family: 'Roboto', sans-serif;
}

.standard-btn {
    width: 150px;
    height: 40px;
    margin: 0 15px 0 0;
    padding: 11px 20px 10px;
    border-radius: 5px;
    background-color: #1f86ff;
    border: 1px solid transparent;
    color: white;
}

.standard-btn:hover {
    background-color: white;
    border: 1px solid #5ca5fc;
    color: #5ca5fc;
}

#taskcomplete {
    float: right;
}

.filters-drpd {
    width: 150px;
    height: 40px;
    margin: 0 15px 0 0;
    padding: 11px 20px 10px;
    border-radius: 5px;
    background-color: #1f86ff;
    border: 1px solid transparent;
    color: white;
}

.filters {
    margin-top: 20px;
}

.filters-drpd::after {
    padding-left: 5px;
    content: "↓";
}

.listheader {
    display: grid;
    grid-template-columns: 15% 50% 10%;
    grid-column-gap: 4px;
    border-bottom: solid 2px;
    border-color: darkgrey;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item {
    display: grid;
    grid-template-columns: 15% 50% 10%;
    grid-column-gap: 4px;
    height: 150px;
    grid-template-rows: 30% 30% 1fr;
    grid-row-gap: 4px;
    border: solid 1px;
    border-radius: 5px;
    border-color: darkgrey;
    padding: 10px 10px;
}

.date {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.titletodo {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.importance {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.editbutton {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.donebutton {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.description {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#edit {
    width: 100px;
    float: right;
}